*{
    margin: 0;
    padding: 0;
}

/* shared style */
body{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
    font-size: 45px;
    color: #181818;
    font-weight: 900;
}

.color_orange{
    color: #FD6E0A;
}

.btn{
    padding: 18px 35px;
    background-color: #FD6E0A;
    border-radius: 5px;
    color: #fff;
    border: none;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}



/* main style */
header{
    background-color: #FFF8F3;
    padding-top: 50px;
}

nav{
    width: 71%;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}

nav ul li a{
    font-size: 20px;
    color: #474747;
    font-weight: 400;
    text-decoration: none;
    transition: 0.4s;
}

nav ul li a:hover{
    color: #FD6E0A;
}

