*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
body{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
    font-size: 45px;
    color: #181818;
    font-weight: 900;
}

.color_orange{
    color: #FD6E0A;
}

.btn{
    padding: 18px 35px;
    background-color: #FD6E0A;
    border-radius: 5px;
    color: #fff;
    border: none;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.about_heading{
    max-width: 827px;
    margin: 0 auto;
    text-align: center;
}

.about_heading h2{
    font-size: 35px;
    font-weight: 700;
    color: #181818;
    padding-bottom: 30px;
}

.about_heading p{
    font-size: 18px;
    color: #757575;
    font-weight: 400;
    line-height: 30px;
}



/* main style */
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
}

nav{
    width: 71%;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}

nav ul li a{
    font-size: 20px;
    color: #474747;
    font-weight: 400;
    text-decoration: none;
    transition: 0.4s;
}

nav ul li a:hover{
    color: #FD6E0A;
}

/* hero section area */
.hero_wrapper{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 47px 38px 0px 230px;
}

.hero_content h2{
    font-size: 45px;
    color: #474747;
    font-weight: 600;
    padding-bottom: 5px;
}

.hero_content h1{
    font-size: 85px;
    color: #181818;
    font-weight: 700;
}

.hero_content p{
    font-size: 18px;
    color: #757575;
    max-width: 585px;
    padding-top: 20px;
    line-height: 30px;
    padding-bottom: 30px;
}

.hero_image img{
    max-width: 585px;
    vertical-align: middle;
}

.hero_content_btn{
    display: flex;
    align-items: center;
}

.hero_content_btn .hero_btn1{
    padding: 18px 17px;
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.hero_content_btn .hero_btn1 img{
    width: 24px;
    margin-right: 10px;
}

.hero_content_btn .hero_btn2{
    background-color: transparent;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    padding: 18px 23px;
}

/* about area */
#about_wrapper{
    padding-top: 130px;
}

#about_wrapper .about_container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 130px 156px;
    border-radius: 10px;
}

#about_wrapper .about_container .about_info {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    /* max-width: 827px;
    margin-left: auto;
    margin-right: auto; */
}

#about_wrapper .about_container .about_info .about_card p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
}

#about_wrapper .about_container .about_info .about_card h4{
    font-size: 20px;
    color: #474747;
    line-height: 30px;
}

/* skills area */
#skills_wrapper{
    padding-top: 130px;
}
#skills_wrapper .skills_container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
.skills_container .skill_box{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.skills_card{
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
    max-width: 267px;
    /* border: 1px solid red; */
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    margin-top: 50px;
}
.skills_card img{
    max-width: 44px;
}
.skills_card h4{
    font-size: 20px;
    font-weight: 700;
    color: #181818;
    padding-top: 30px;
}
.skills_card p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
    padding-top: 20px;
    max-width: 201px;
}
